@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 240 10% 3.9%;
    --card: 60 56% 93%;
    --card-foreground: 240 10% 3.9%;
    --popover: 60 56% 93%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 60% 45%;
    --primary-foreground: 120 25% 98%;
    --secondary: 60 48% 85%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 60 48% 85%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 39 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 80%;
    --input: 60 30% 80%;
    --ring: 120 60% 45%;
    --radius: 0.5rem;
    --chart-1: 120 70% 50%;
    --chart-2: 39 100% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
 
  .dark {
    --background: 20 14% 4%;
    --foreground: 60 90% 98%;
    --card: 20 14% 6%;
    --card-foreground: 60 90% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 90% 98%;
    --primary: 120 60% 55%;
    --primary-foreground: 120 25% 9%;
    --secondary: 20 10% 15%;
    --secondary-foreground: 60 90% 98%;
    --muted: 20 10% 15%;
    --muted-foreground: 60 90% 92%;
    --accent: 39 100% 60%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 20%;
    --input: 20 10% 20%;
    --ring: 120 60% 55%;
    --chart-1: 120 70% 50%;
    --chart-2: 39 100% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
